{%extends 'base.html'%}
{%block main_block%}
{%load custom_filters%}
<div class="container">
    <div class="card mt-5 ">
        <div class="card-header"><h3>Income Summary:{{income_total.amount__sum}}</h3></div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3>income pie chart</h3>
                <canvas id="myChart"></canvas>

            </div>
            <div class="col-6">
              
                <h4 class="text-center fw-bold">Category Progress Bar</h4>
                {%for cs in category_total%}
                <label for="">{{cs.category}}</label>
                <div class="progress my-3" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar bg-info text-dark" style="width: {{cs.total|percentage:income_total.total}}%">{{cs.total|percentage:income_total.total}}%</div>
                </div>
                {%endfor%}
              
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block script_block%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for cs in category_total%} "{{cs.category}}", {%endfor%}],
      datasets: [{
        label: '# of Votes',
        data: [{%for cs in category_total%} "{{cs.total}}", {%endfor%}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
 
{%endblock%}